# 根目录下的所有文件和文件夹的所有者
/ @samuel-xiangpeng
* @samuel-xiangpeng

# 指定文件的所有者
README.md @samuel-xiangpeng

# src/ 目录下的所有文件和子目录的所有者
/src/ @samuel-xiangpeng

# 仅分配给特定文件类型的所有者
*.swift @samuel-xiangpeng

# 特定子目录中的文件
/docs/ @samuel-xiangpeng

# 优先级：更具体的路径规则优先级更高
